* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: roboto;
}

.thumbnail {
  width: 300px;
}

.search-bar {
  /* font-size: 1.2em; */
  display: block;
}

.video-title {
  width: 300px;
}

.video-preview {
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-right: 0.9rem;
}
